.cart-item {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

.cart-item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 1.5rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-img img {
    width: 100px;
    height: auto;
  }

  .item-details {
    flex: 2;
    display: flex;
    flex-direction: column;

    .item-name {
      font-weight: bold;
      margin-bottom: 0.25rem;
    }

    .item-info {
      font-size: 0.9rem;
      color: #666;
    }
  }

  .item-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 100px;

    .item-info {
      font-size: 0.9rem;
      margin-bottom: 0.25rem;
    }

    .item-quantity {
      width: 70px;

      input {
        width: 100%;
      }
    }

    .item-price {
      font-weight: bold;
      font-size: 1rem;
      white-space: nowrap;
    }
  }

  .item-remove {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .remove {
    padding-left: 40px;
  }
}
