.user-modal {
  top: 0;
  left: 0;
  width: 90vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 1000;
  padding: 1rem;

  .user-modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    position: relative;

    .modal-header {
      margin-bottom: 1.5rem;
      font-weight: bold;
      font-size: 1.4rem;
      text-align: center;
    }

    .full-width {
      width: 100%;
      margin-bottom: 1rem;
    }

    .button-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0.5rem;
      margin-top: 1rem;

      button {
        flex: 1;
        background-color: #000;
        color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        .arrow {
          margin-left: 0.5rem;
        }
      }

      .register-button mat-icon {
        margin-left: 0.3rem;
      }
    }

    .forgot-link {
      display: block;
      margin-top: 1rem;
      font-size: 0.9rem;
      font-weight: 500;
      color: #1a1a1a;
      text-decoration: none;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // Media queries for responsiveness
  @media (max-width: 600px) {
    .user-modal-content {
      padding: 1.5rem;

      .modal-header {
        font-size: 1.2rem;
      }

      .button-row {
        flex-direction: column;
        button {
          width: 100%;
          height: 50px; // 👉 nagyobb magasság mobilon
          font-size: 1rem;
          padding: 10px;
        }
      }
    }
  }
}
