<div class="cart-container">
  <!-- Termeklista -->
  <div class="cart-left">
    <h2>KOSÁR</h2>

    <div class="product-list">
      <app-cart-item-card
        *ngFor="let product of products"
        [product]="product"
      ></app-cart-item-card>
    </div>

    <div class="cart-actions">
      <button>Vissza</button>
      <button>Módosít</button>
      <button>Kosár ürítése</button>
    </div>
  </div>

  <!-- Összegzés -->
  <div class="cart-summary">
    <h3>MEGRENDELÉS ÖSSZEGZÉS</h3>
    <div class="summary-row">
      <span>Összesen (bruttó):</span>
      <strong>27 999 Ft</strong>
    </div>
    <div class="summary-row">
      <span>Megtakarítás:</span>
      <strong>12 000 Ft</strong>
    </div>

    <ul class="shipping-options">
      <li>Személyes átvétel a Dunkshopban - <strong>400 Ft</strong></li>
      <li>Foxpost/Packeta csomagpontok - <strong>1 200 Ft</strong></li>
      <li>MyGLS API házhozszállítás - <strong>1 800 Ft</strong></li>
    </ul>

    <div class="summary-total">
      <span>Összesen:</span>
      <strong>27 999 Ft</strong>
    </div>

    <div class="coupon-code">
      <input type="text" placeholder="Kuponkód" />
      <button>Ellenőrzés</button>
    </div>

    <button class="order-button">Megrendelés →</button>
  </div>
</div>
<app-footer></app-footer>
