Visszaküldés<br />
<br />
Ingyenes Foxpost visszaküldési lehetőség 14 napig!<br />
Cserét viszont 30 napig kérhetsz!<br />
<br />
<img src="/return-page/foxpost_logo.png" alt="" />
<br />
Foxpost Automata<br />
<br />
<br />
<br />
Így küldheted vissza a nem megfelelő termékeket a Foxpost segítségével
díjmentesen:<br />
<br />
1. Foxpost automatával<br />

Amennyiben a FOXPOST automata volt a csomagod átvételi helye, akkor 14 napig van
lehetőséged egyszerűen és díjmentesen visszaküldeni azt.<br />
Kérünk, hogy a visszaküldési szándékodat jelezd felénk e-mailben a 23rapcity.hu
címen.<br />
<br />
<br />
<br />
A visszaküldés menete:<br />
<br />
<br />
Ha cserélni szeretnél, adj le a webshopon egy új rendelést a csere termékekkel
és a megjegyzésbe írd a CSERE szót!<br />
A csomagban található visszaküldési nyomtatványt töltsd ki értelem szerint. A
nyomtatványt EZEN a linken is letöltheted.<br />
Csomagold vissza az eredeti csomagolásába! (a termékre sose ragassz semmit!)<br />
Látogass vissza ahhoz a Foxpost automatához, ahol a csomagodat korábban
átvetted.<br />
Az automata képernyőjén válaszd a "Visszaküldés" opciót.<br />
Add meg azt a kódot, amit az átvételkor használtál.<br />
Helyezd a terméket a kinyíló rekeszbe, majd zárd be az ajtaját.<br />
Ezt követően a folyamat véget ér számodra, a továbbiakban mi gondoskodunk a
szükséges lépésekről.<br />
A visszaküldési folyamatot bemutató videót itt találod.<br />
<br />
<br />
<br />
2. Más átvételi móddal<br />
<br />
A FOXPOST ingyenes visszaküldési szolgáltatását akkor is igénybe veheted, ha nem
FOXPOST automata átvétellel kaptad meg a csomagod!<br />
<br />
<br />
A visszaküldés menete:<br />
Regisztrálj be a www.foxpost.hu-n!<br />
A kezdőlapon válaszd a "Csomag visszaküldése" opciót!<br />
Utána jelöld be az "Egyéb módon átvett csomag visszaküldése" lehetőséget.<br />
Alatta pedig válaszd ki a Rapcity-t a partnerek közül!<br />
Ezután bármelyik csomagautomatánknál a kapott kód segítségével feladhatod a
csomagot!<br />
Innentől minden a mi dolgunk!<br />
<br />
<br />
<br />
3. Saját futárszolgálaton keresztül<br />
<br />
Van lehetőséged saját magad által választott futárszolgálaton keresztül is
visszaküldeni címünkre a rendelésed!<br />
<br />
Cím: Rapcity, 1073 Budapest, Kertész utca 24-28.<br />
<br />
Ebben az esetben a feladás díja 100%-ban téged terhel! Utánvétes és portós
küldeményeket automatikusan visszafordítjuk!<br />
<br />
<br />
4. Üzletünkben személyesen<br />
<br />
Ha nem szeretnél visszaküldéssel bajlódni, hozd be a megrendelésed az
üzletünkbe! Kollégáim átveszik dobozod és segítenek a csere vagy a visszafizetés
lebonyolításában!<br />
<app-footer></app-footer>
