.toolbar {
  height: 14vh;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10vw;
  background-color: #000;
  gap: 1vw;
}

.lower-toolbar {
  display: flex;
  flex: 1;
  background-color: #000;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1vw;
}

a img {
  height: 16vh;
}

.contact {
  font-size: 2vh;
  line-height: 1.4;
  color: #ffffff;
  white-space: nowrap;
}

.input-field {
  flex: 1 1 20vw;
}

.buttons {
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  gap: 0.025vw;
}

.sidenav-container {
  flex-wrap: wrap;
  flex: 1;
  height: 100vh;
  background-color: #ffffff;
  color: #000;
}

.sidenav {
  width: 15vw;
  margin-top: 21vh;
  margin-bottom: 42vh;
  padding: 1vw;
  background-color: #000000;

  h3 {
    margin-top: 0;
    font-size: 2vh;
  }

  button {
    display: flex;
    width: 100%;
    text-align: left;
    margin-bottom: 1vh;
  }
}

.exchange {
  width: 6vw;
}
