<mat-card class="card" (click)="goToProduct(product)">
  <img
    mat-card-image
    [src]="product.imageUrl"
    alt="{{ product.name }}"
    class="image"
  />
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.price }} HUF</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="sizes" (click)="$event.stopPropagation()">
      <mat-form-field appearance="outline">
        <mat-label for="size">Méret:</mat-label>
        <mat-select [(ngModel)]="product.selectedSize" id="size">
          <mat-option *ngFor="let size of product.sizes" [value]="size">
            {{ size }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions (click)="$event.stopPropagation()">
    <button mat-flat-button (click)="addToCart()">Kosárba</button>
  </mat-card-actions>
</mat-card>
