.card {
  width: 300px;
  height: 550px;
  margin: 1rem auto;
  padding: 1rem;
}

.image {
  width: 100%;
  height: auto;
}

.sizes {
  width: 1vw;
  margin-bottom: 1rem;
}

mat-card-title {
  height: 8vh;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

mat-card-subtitle {
  color: white;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
