.slider-wrapper {
  margin-top: 10px;
  margin-left: 10vw;
  width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-track {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%;
}

.slider-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

.features {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  gap: 8vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.8vh;
  color: #000;

  p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    white-space: nowrap;
    font-weight: bold;
  }
}

.players {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.player {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  img {
    height: 30vh;
    width: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }

  .player-name {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  @media (max-width: 768px) {
    img {
      height: 150px;
    }
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 1rem;
  margin: auto 10vw;

  @media (max-width: 1615px) {
    justify-content: center;
    gap: 60px;
  }
}

.top-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

  h2 {
    font-weight: bold;
    font-size: 2rem;
  }
}
