$product-title-color: #1a1a1a;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

.product-detail {
  margin: 0 auto; // Ez hozza középre

  width: 80%;
  padding: 2rem;

  .product-title {
    font-size: 2rem;
    font-weight: bold;
    color: $product-title-color;
  }

  .product-id {
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 2rem;
  }

  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    box-shadow: $shadow;
    padding: 2rem;
    border-radius: 8px;
    background-color: #fff;

    .product-image img {
      width: 100%;
      max-height: 250px;
      object-fit: contain;
    }

    .product-info {
      padding-left: 25px;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      p {
        margin: 0.5rem 0;
      }
    }

    .product-action {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .sizes {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        button.active {
          background-color: #1a1a1a;
          color: #fff;
        }
      }

      .buy-button {
        align-self: start;
      }
    }
  }

  @media (max-width: 992px) {
    .product-container {
      grid-template-columns: 1fr 1fr;

      .product-actions {
        grid-column: span 2;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  @media (max-width: 600px) {
    .product-container {
      grid-template-columns: 1fr;

      .product-actions {
        flex-direction: column;
        grid-column: span 1;
      }
    }
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap; /* A termékek át tudnak törni, ha nincs elég hely */
  justify-content: space-between; /* A termékek egyenletesen eloszlanak */
  gap: 20px; /* 20px távolság a termékek között */
  margin: auto 10vw;
  padding: 1rem; /* Párnázás a termékek körül */

  /* Ha mobilról jön, ne legyen túl nagy */
  @media (max-width: 1615px) {
    justify-content: center; /* A termékek egyenletesen eloszlanak */
    gap: 60px; /* 20px távolság a termékek között */
  }
}

.maybe-products {
  display: flex;
  justify-content: center; /* Középre igazítás vízszintesen */
  align-items: center; /* Középre igazítás függőlegesen */
  height: 10vh;

  h2 {
    font-weight: bold; /* Félkövér betűstílus */
    font-size: 2rem; /* Opcionálisan változtathatsz a betűméreten */
  }
}
