<h2>{{ product1.name }}</h2>
<p>Cost: {{ product1.cost }} Ft.</p>
<p>Size: {{ product1.size }}</p>
<div class="buttons-container">
  <button mat-raised-button (click)="buyProduct1()">Buy</button>
</div>

<h2>{{ product2.name }}</h2>
<p>Cost: {{ product2.cost }} Ft.</p>
<p>Size: {{ product2.size }}</p>
<div class="buttons-container">
  <button mat-raised-button (click)="buyProduct2()">Buy</button>
</div>

<h2>{{ product3.name }}</h2>
<p>Cost: {{ product3.cost }} Ft.</p>
<p>Size: {{ product3.size }}</p>
<div class="buttons-container">
  <button mat-raised-button (click)="buyProduct3()">Buy</button>
</div>
