<div class="product-detail">
  <h1 class="product-title">{{ product.name }}</h1>
  <p class="product-id">Cikkszám: {{ product.id }}</p>

  <div class="product-container">
    <div class="product-image">
      <img [src]="product.imageUrl" alt="{{ product.name }}" />
    </div>

    <div class="product-info">
      <p><strong>Cikkszám:</strong> {{ product.id }}</p>
      <p><strong>Márka:</strong> {{ product.brand }}</p>
      <p><strong>Nem:</strong> {{ product.sex }}</p>
      <p><strong>Ár:</strong> {{ product.price }} Ft</p>
    </div>

    <div class="product-action">
      <label>Méret:</label>
      <div class="sizes">
        <button
          mat-stroked-button
          *ngFor="let size of product.sizes"
          [class.active]="size === product.selectedSize"
          (click)="product.selectedSize = size"
        >
          {{ size }}
        </button>
      </div>
      <button
        mat-flat-button
        color="primary"
        class="buy-button"
        (click)="addToCart()"
      >
        Kosárba
      </button>
    </div>
  </div>
</div>
<div class="maybe-products">
  <h2>ESETLEG ÉRDEKELHET</h2>
</div>
<div class="product-list">
  <app-product-card
    *ngFor="let product of products"
    [product]="product"
  ></app-product-card>
</div>

<app-footer></app-footer>
