<div class="cart-container">
  <!-- Termeklista -->
  <div class="cart-left" *ngIf="!isEmpty">
    <h2>KOSÁR</h2>

    <div class="product-list">
      <app-cart-item-card
        *ngFor="let product of products"
        [product]="product"
      ></app-cart-item-card>
    </div>

    <div class="cart-actions">
      <button mat-flat-button (click)="this.clearCart()">Kosár ürítése</button>
    </div>
  </div>
  <div class="cart-left" *ngIf="isEmpty">
    <h2>ÜRES A KOSARAD</h2>
  </div>

  <!-- Összegzés -->
  <div class="cart-summary">
    <h3>MEGRENDELÉS ÖSSZEGZÉS</h3>
    <div class="summary-row">
      <span>Összesen (bruttó):</span>
      <strong>{{ totalPrice }} Ft</strong>
    </div>
    <div class="summary-row">
      <span>Megtakarítás:</span>
      <strong>0 Ft</strong>
    </div>

    <div class="summary-total">
      <span>Összesen:</span>
      <strong>{{ totalPrice }} Ft</strong>
    </div>

    <div class="coupon-code">
      <input type="text" placeholder="Kuponkód" />
      <button mat-flat-button>Ellenőrzés</button>
    </div>

    <button mat-raised-button class="order-button">Megrendelés →</button>
  </div>
</div>
<app-footer></app-footer>
