<footer class="footer">
  <div class="footer-columns">
    <div class="footer-column">
      <h3>Vásárlói fiók</h3>
      <a routerLink="/login">Belépés</a>
      <a routerLink="/register">Regisztráció</a>
      <a routerLink="/profile">Profilom</a>
      <a routerLink="/cart">Kosár</a>
      <a routerLink="/favorites">Kedvenceim</a>
    </div>

    <div class="footer-column">
      <h3>Információk</h3>
      <a routerLink="/terms">Általános szerződési feltételek</a>
      <a routerLink="/privacy">Adatkezelési tájékoztató</a>
      <a routerLink="/payment">Fizetés</a>
      <a routerLink="/shipping">Szállítás</a>
      <a routerLink="/contact">Elérhetőségek</a>
    </div>

    <div class="footer-column">
      <h3>Ügyfélszolgálat</h3>
      <p>📧 info at dunkshop.hu</p>
      <p>📞 +3614518889</p>
      <p>📍 1073 Budapest, Kertész utca 24-28</p>
    </div>
  </div>

  <div class="footer-payment">
    <img src="/footer/payment_logos.png" alt="payments" />
  </div>
</footer>
