<div class="return-info">
  <h1 class="main-title">Visszaküldés</h1>
  <h2 class="main-title">Ingyenes Foxpost visszaküldési lehetőség 14 napig!</h2>
  <h2 class="main-title">Cserét viszont 30 napig kérhetsz!</h2>

  <img src="/return-page/foxpost_logo.png" alt="" class="foxpost-logo" />

  <h3 class="section-title">Foxpost Automata</h3>

  <p>
    Így küldheted vissza a nem megfelelő termékeket a Foxpost segítségével
    díjmentesen:
  </p>

  <h4 class="sub-title">1. Foxpost automatával</h4>
  <p>
    Amennyiben a FOXPOST automata volt a csomagod átvételi helye, akkor 14 napig
    van lehetőséged egyszerűen és díjmentesen visszaküldeni azt.
  </p>
  <p>
    Kérünk, hogy a visszaküldési szándékodat jelezd felénk e-mailben a
    <strong>23rapcity.hu</strong> címen.
  </p>

  <h4 class="sub-title">A visszaküldés menete:</h4>
  <ul>
    <li>
      Ha cserélni szeretnél, adj le a webshopon egy új rendelést a csere
      termékekkel és a megjegyzésbe írd a <strong>CSERE</strong> szót!
    </li>
    <li>
      A csomagban található visszaküldési nyomtatványt töltsd ki értelemszerűen.
    </li>
    <li>Csomagold vissza az eredeti csomagolásába!</li>
    <li>
      Látogass vissza a Foxpost automatához, ahol a csomagodat korábban
      átvetted.
    </li>
    <li>Az automata képernyőjén válaszd a "Visszaküldés" opciót.</li>
    <li>Add meg azt a kódot, amit az átvételkor használtál.</li>
    <li>Helyezd a terméket a kinyíló rekeszbe, majd zárd be az ajtaját.</li>
  </ul>
  <p>A visszaküldési folyamatot bemutató videót <a href="#">itt találod</a>.</p>

  <h4 class="sub-title">2. Más átvételi móddal</h4>
  <p>
    A FOXPOST ingyenes visszaküldési szolgáltatását akkor is igénybe veheted, ha
    nem FOXPOST automata átvétellel kaptad meg a csomagod!
  </p>

  <h4 class="sub-title">A visszaküldés menete:</h4>
  <ul>
    <li>
      Regisztrálj be a <a href="https://www.foxpost.hu">www.foxpost.hu</a>-n!
    </li>
    <li>A kezdőlapon válaszd a "Csomag visszaküldése" opciót!</li>
    <li>
      Utána jelöld be az "Egyéb módon átvett csomag visszaküldése" lehetőséget.
    </li>
    <li>Alatta válaszd ki a Rapcity-t a partnerek közül!</li>
    <li>
      Ezután bármelyik csomagautomatánál a kapott kód segítségével feladhatod a
      csomagot!
    </li>
  </ul>

  <h4 class="sub-title">3. Saját futárszolgálaton keresztül</h4>
  <p>
    Van lehetőséged saját magad által választott futárszolgálaton keresztül is
    visszaküldeni címünkre a rendelésed!
  </p>
  <p>Cím: Rapcity, 1073 Budapest, Kertész utca 24-28.</p>
  <p>
    Ebben az esetben a feladás díja 100%-ban téged terhel! Utánvétes és portós
    küldeményeket automatikusan visszafordítjuk!
  </p>

  <h4 class="sub-title">4. Üzletünkben személyesen</h4>
  <p>
    Ha nem szeretnél visszaküldéssel bajlódni, hozd be a megrendelésed az
    üzletünkbe! Kollégáim átveszik dobozod és segítenek a csere vagy a
    visszafizetés lebonyolításában!
  </p>
</div>
<app-footer></app-footer>
