<mat-card class="cart-item" *ngIf="!isRemoved">
  <div class="cart-item-row">
    <div class="cart-img">
      <img [src]="product.imageUrl" alt="termék" />
    </div>

    <div class="item-details">
      <p class="item-name">{{ product.name }}</p>
      <p class="item-info">Cikkszám: {{ product.id }}</p>
    </div>

    <div class="item-meta">
      <p class="item-info">Méret:</p>
      <div class="item-price">{{ product.selectedSize }}</div>
    </div>

    <div class="item-meta">
      <p class="item-info">Mennyiség:</p>
      <mat-form-field appearance="fill" class="item-quantity">
        <input
          matInput
          type="number"
          min="1"
          [value]="product.quantity"
          (input)="updateQuantity($event)"
        />
      </mat-form-field>
    </div>

    <div class="item-meta">
      <p class="item-info">Összeg:</p>
      <div class="item-price">{{ product.price }} Ft</div>
    </div>

    <div class="item-remove">
      <button class="remove" mat-flat-button (click)="removeItem()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
